Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="aFromCelsiustoFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Celsius" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aFromCelsiustoFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aFromCelsiustoFahrenheitResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aFromFahrenheittoCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Fahrenheit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aFromFahrenheittoCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aFromFahrenheittoCelsiusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bDateTimeDisplay">
        <s:complexType />
      </s:element>
      <s:element name="bDateTimeDisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bDateTimeDisplayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dEuroToLei">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lei" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dEuroToLeiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dEuroToLeiResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dLeiToEuro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Euro" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dLeiToEuroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dLeiToEuroResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cfiveElements">
        <s:complexType />
      </s:element>
      <s:element name="cfiveElementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cfiveElementsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aFromCelsiustoFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:aFromCelsiustoFahrenheit" />
  </wsdl:message>
  <wsdl:message name="aFromCelsiustoFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:aFromCelsiustoFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="aFromFahrenheittoCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:aFromFahrenheittoCelsius" />
  </wsdl:message>
  <wsdl:message name="aFromFahrenheittoCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:aFromFahrenheittoCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="bDateTimeDisplaySoapIn">
    <wsdl:part name="parameters" element="tns:bDateTimeDisplay" />
  </wsdl:message>
  <wsdl:message name="bDateTimeDisplaySoapOut">
    <wsdl:part name="parameters" element="tns:bDateTimeDisplayResponse" />
  </wsdl:message>
  <wsdl:message name="dEuroToLeiSoapIn">
    <wsdl:part name="parameters" element="tns:dEuroToLei" />
  </wsdl:message>
  <wsdl:message name="dEuroToLeiSoapOut">
    <wsdl:part name="parameters" element="tns:dEuroToLeiResponse" />
  </wsdl:message>
  <wsdl:message name="dLeiToEuroSoapIn">
    <wsdl:part name="parameters" element="tns:dLeiToEuro" />
  </wsdl:message>
  <wsdl:message name="dLeiToEuroSoapOut">
    <wsdl:part name="parameters" element="tns:dLeiToEuroResponse" />
  </wsdl:message>
  <wsdl:message name="cfiveElementsSoapIn">
    <wsdl:part name="parameters" element="tns:cfiveElements" />
  </wsdl:message>
  <wsdl:message name="cfiveElementsSoapOut">
    <wsdl:part name="parameters" element="tns:cfiveElementsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="aFromCelsiustoFahrenheit">
      <wsdl:input message="tns:aFromCelsiustoFahrenheitSoapIn" />
      <wsdl:output message="tns:aFromCelsiustoFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aFromFahrenheittoCelsius">
      <wsdl:input message="tns:aFromFahrenheittoCelsiusSoapIn" />
      <wsdl:output message="tns:aFromFahrenheittoCelsiusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bDateTimeDisplay">
      <wsdl:input message="tns:bDateTimeDisplaySoapIn" />
      <wsdl:output message="tns:bDateTimeDisplaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dEuroToLei">
      <wsdl:input message="tns:dEuroToLeiSoapIn" />
      <wsdl:output message="tns:dEuroToLeiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dLeiToEuro">
      <wsdl:input message="tns:dLeiToEuroSoapIn" />
      <wsdl:output message="tns:dLeiToEuroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cfiveElements">
      <wsdl:input message="tns:cfiveElementsSoapIn" />
      <wsdl:output message="tns:cfiveElementsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="aFromCelsiustoFahrenheit">
      <soap:operation soapAction="http://tempuri.org/aFromCelsiustoFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aFromFahrenheittoCelsius">
      <soap:operation soapAction="http://tempuri.org/aFromFahrenheittoCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bDateTimeDisplay">
      <soap:operation soapAction="http://tempuri.org/bDateTimeDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dEuroToLei">
      <soap:operation soapAction="http://tempuri.org/dEuroToLei" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dLeiToEuro">
      <soap:operation soapAction="http://tempuri.org/dLeiToEuro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfiveElements">
      <soap:operation soapAction="http://tempuri.org/cfiveElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="aFromCelsiustoFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/aFromCelsiustoFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aFromFahrenheittoCelsius">
      <soap12:operation soapAction="http://tempuri.org/aFromFahrenheittoCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bDateTimeDisplay">
      <soap12:operation soapAction="http://tempuri.org/bDateTimeDisplay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dEuroToLei">
      <soap12:operation soapAction="http://tempuri.org/dEuroToLei" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dLeiToEuro">
      <soap12:operation soapAction="http://tempuri.org/dLeiToEuro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cfiveElements">
      <soap12:operation soapAction="http://tempuri.org/cfiveElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44394/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44394/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>